name: Deploy Take Counter

on:
  workflow_dispatch:
  push:
    tags: [ 'v*.*.*' ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-web-app:
    uses: ./.github/workflows/test-web-app.yml

  test-electron-app:
    uses: ./.github/workflows/test-electron-app.yml

  check-versions:
    runs-on: ubuntu-latest
    needs: [test-web-app, test-electron-app]
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
        working-directory: ./.github/actions/check-version
      - run: npm run build
        working-directory: ./.github/actions/check-version
      - uses: ./.github/actions/check-version
        with:
          electron-package-path: ./electron/package.json
          web-package-path: ./web/package.json

  deploy-web-app:
    needs: check-versions
    uses: ./.github/workflows/deploy-web-app.yml

  deploy-electron-app:
    needs: check-versions
    uses: ./.github/workflows/deploy-electron-app.yml
    with:
      environment: S3
    secrets:
      S3_ID: ${{ secrets.S3_ID }}
      S3_SECRET: ${{ secrets.S3_SECRET }}
